.editable {
  border-radius: 4px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  outline: none;
}
.editable:focus {
  background-color: #28d979;
  box-shadow: 0 0 0 2px #28d979;
  padding: 4px 6px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.editable-yellow {
  border-radius: 4px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  outline: none;
}
.editable-yellow:focus {
  background-color: #c0b936;
  box-shadow: 0 0 0 2px #c0b936;
  padding: 4px 6px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

/* animation: highlight */
.editable.saved {
  animation: highlight 1s;
}
