  @font-face {
    font-family: 'Poppins';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: 
         url("../fonts/Poppins-400.woff") format("woff");
  }

@font-face {
    font-family: 'Poppins';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: 
         url("../fonts/Poppins-500.woff") format("woff");
  }
  @font-face {
    font-family: 'InPoppinster';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: 
         url("../fonts/Poppins-600.woff") format("woff");
  }
