.tools {
  max-width: 124px;

  border-radius: 12px;
  background-color: #f0f0f0;
  padding: 12px;
}

.tools__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: start;
  vertical-align: middle;
  margin: 0;
}

.tools__design-container {
  padding: 16px;
  border-radius: 6px;
  background-color: #fff;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, 10px);
  gap: 20px;

  max-width: 76px;

  margin: 12px;
}

.tools__design-container:last-child {
  margin-bottom: 0;
}

.tools__design-title {
  font-weight: 500;
  font-size: 5px;
  line-height: 142%;
  text-align: center;
  vertical-align: middle;
  background-color: black;
  border-radius: 59px;
  color: #fff;
  padding: 2px 6px;
  position: absolute;
  top: -5px;
  left: 20px;
  z-index: 1;
  margin: 0;
}
.left {
  left: 6px;
}
.tools__icon {
  z-index: 2;
}



